--
-- PostgreSQL database dump
--

-- Dumped from database version 15.2
-- Dumped by pg_dump version 15.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: card; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.card (
    success boolean,
    code integer,
    valid boolean,
    number bigint,
    scheme character varying(50),
    brand character varying(50),
    type character varying(50),
    level character varying(50),
    currency character varying(10),
    issuer_name character varying(255),
    country_name character varying(255),
    full_number_card character varying(255)
);


ALTER TABLE public.card OWNER TO postgres;

--
-- Name: usergpt; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usergpt (
    id integer NOT NULL,
    chatid double precision,
    username character varying,
    first_name character varying,
    messaget_text text,
    column_status text,
    column_status_1 text,
    response_count integer,
    subscription_status text,
    last_response_date date,
    subscription_end_date date
);


ALTER TABLE public.usergpt OWNER TO postgres;

--
-- Name: usergpt_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.usergpt ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.usergpt_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: card; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: usergpt; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: usergpt_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usergpt_id_seq', 182, true);


--
-- PostgreSQL database dump complete
--

